body {
    margin: 100px 200px;
}
h1 {
    text-align: center;
}
h2 {
    margin: 50px 0;
    color: white;
    display: inline-block;
    background-color: rgb(255, 0, 0);
}
h3 {
    margin-bottom: 50px;
    color: white;
}
h4 {
    text-align: center;
    margin-top: 50px;
    color: white;
}
section {
    width: 100%;
    margin: 25px auto;
    background-color: #000000;
    padding: 50px;
}
#section01,
#section11{
    background-color: white;
    padding: 0;
}
.gnb {
    width: 100%;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.img01 {
    width:53%;
}
.img02 {
    width: 23%;
}
.img03 {
    width: 29%;
}
.flex p {
    font-size: 18px;
    line-height: 2;
    color: white;
}
.img04 {
    width: 60%;
}
.img05 {
    width: 30%;
}
.img06 {
    width: 30%;
}
.img07 {
    width: 30%;
}
.text_flex{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.img08 {
    width: 50%;
}
.img09 {
    width: 50%;
}
.img10 {
    width: 50%;
}
.img11 {
    width: 30%;
}
.img12 {
    width: 30%;
}
.img13 {
    width: 30%;
}
.img14 {
    width: 38%;
}

#section10 .flex {
    flex-direction: column;
}
.img15 {
    width: 60%;
}
.img16 {
    width: 60%;
}

