@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    cursor: url('../img/circle.png'), auto !important;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    overflow-x: hidden;
    width: 1920px;
}
a {
    cursor: pointer !important;
}
header {
    width: 1920px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.gnb {
    height: 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.gnb li {
    width: 100%;
    line-height: 100px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.gnb li a {
    display: inline-block;
    width: 100%;
}

.gnb .on {
    background-color: #F0EADE;
    position: relative;
}

.gnb .on::before {
    position: absolute;
    content: '';
    top: 38%;
    left: 27%;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    background-color: black;
}

/* header */


.intro_img {
    position: relative;
    z-index: 999;
}

#gnb01 {
    padding-top: 100px;
    height: 90vh;
}

#gnb01 .intro_img img {
    position: absolute;
    top: 80px;
    left: 10%;
    width: 450px;
    height: 450px;
    border-radius: 100%;
    object-fit: cover;
    animation: imgleft 1s forwards;
    opacity: 0;
}

/* 오른쪽에서 왼쪽으로 나타나는 이미지 슬라이드 애니메이션 */
@keyframes imgleft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.gnb01_title {
    position: relative;
    z-index: 0;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 100px;
    height: 300px;
    line-height: 300px;
    padding-right: 200px;
    text-align: right;
    letter-spacing: -8px;
    border-bottom: 1px solid black
}

.gnb01_title span {
    box-sizing: none;
}

.gnb01_title span:first-child {
    color: #D98F21;
}

.gnb01_text p {
    padding: 80px 140px 0;
    font-size: 24px;
    float: right;
    line-height: 50px;
}

.gnb01_text strong {
    color: #D98F21;
    font-size: 30px;
    letter-spacing: 2;
}

/* section01 gnb01 인트로에 보이는 화면 */

.scroll_img {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    text-align: center;
}

.scroll_img img {
    width: 50px;
    height: 50px;
    animation: scroll 2s infinite;
}

@keyframes scroll {
    0% {
        transform: translatey(0);
    }

    50% {
        transform: translatey(20px);
    }

    100% {
        transform: translatey(0);
    }
}

/* 스크롤이미지 */

.gnb_flex {
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    position: relative;
}

.sub_title {
    height: 100%;
    position: sticky;
    top: 100px;
    padding-top: 200px;
    width: 25%;
    text-align: center;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 24px;
}

.first_title {
    border-top: 1px solid black;
}

.sub_title .title {
    font-size: 100px;
    font-weight: 400;
}


.sub_title .title span {
    color: #D98F21;
}

.sub_title .view_more a {
    cursor: pointer;
    position: relative;
    margin-top: 30px;
    font-size: 16px;
    font-family: "Pretendard Variable"
}
.sub_title .view_more a:hover {
    color: #D98F21;
    transition: all 0.3s;
}
.sub_title .view_more a::before {
    position: absolute;
    content: '';
    top: 50%;
    left: -50%;
    height: 1px;
    width: 20px;
    background-color: #000000;
    transition: transform 0.3s ease;
}

.view_more:hover::before {
    transform: translateY(-50%) translateX(10px);
}

.contents {
    width: 75%;
    height: auto;
}

.contents ul {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.contents li {
    width: 50%;
    padding: 70px;
    border: 1px solid black;
    border-right: none;
    border-bottom: none;
    line-height: 40px;
    font-size: 20px;
}

.contents li:nth-child(4) {
    border-top: none;
}

.contents li:nth-child(2),
.contents li:nth-child(4) {
    font-size: 16px;
    font-family: "Pretendard Variable"
}

.contents li .content {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 600;
}

.contents li .content span {
    color: #D98F21;
}

.skill_flex {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.skill_flex p {
    width: 100px;
    height: 100px;
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 500%;
}

.skill_flex p:hover {
    background: linear-gradient(to bottom, #ffffff, #f0eade);
    transition: all 0.3s;
}

.edu_flex {
    display: flex;
    margin-bottom: 30px;
}

.edu_flex dt {
    width: 25%
}

#gnb02 .sub_title,
#gnb03 .sub_title {
    border-top: none;
}

#gnb02 .contents,
#gnb03 .contents {
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
}

/* section gnb01_01 - aboutme */

/* section gnb02 - project */
#gnb02 {
    height: auto;
}

/* 목업데스크탑 */
.mockup {
    position: relative;
    margin: 80px 50px;
}

.mockup>img {
    width: 500px;
    height: 500px;
}

.mockup_img {
    position: absolute;
    overflow-y: auto;
    top: 105px;
    left: 45px;
    width: 420px;
    height: 230px;
}

.mockup_img img {
    width: 410px;
    height: auto;
}

.mockup_img::-webkit-scrollbar {
    display: none;
}

/* 목업데스크탑 */

/* 목업 태블릿 */
.mockup2 {
    position: absolute;
    bottom: 50px;
    left: -30px;
    z-index: 1;
    rotate: 90deg;
}

.mockup2>img {
    width: 100%;
}

.mockup2>.mockup_img {
    position: absolute;
    overflow-y: auto;
    top: -78px;
    left: -2px;
    width: 280px;
    height: 195px;
    z-index: 1;
    rotate: 270deg;

}

.mockup2>.mockup_img img {
    width: 135px;
    height: auto;
}

.mockup2>.mockup_img::-webkit-scrollbar {
    display: none;
}

/* 목업 태블릿 */

/* 목업 모바일 */
.mockup3 {
    position: absolute;
    bottom: 30px;
    right: 0px;
    z-index: 1;

}

.mockup3>img {
    width: 200px;
}

.mockup3>.mockup_img {
    position: absolute;
    overflow-y: auto;
    top: 20px;
    left: 66px;
    width: 80px;
    height: 160px;
    z-index: 1;
}

.mockup3>.mockup_img img {
    width: 69px;
    height: auto;
}

.mockup3>.mockup_img::-webkit-scrollbar {
    display: none;
}

/* 목업 모바일 */

.project_cont {
    display: flex;
    justify-content: center;
}

.contents_list {
    position: relative;
}

.contents_list .scroll_img {
    position: absolute;
    top: 100px;
}

.content_text {
    width: 100%;
    margin-top: 180px;
    margin-right: 50px;
}

.content_text h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.task {
    display: flex;
    gap: 30px;
}

.day {
    display: inline-block;
    margin: 0 20px 20px 0;
}

.all {
    background-color: #D98F21;
    color: white;
    padding: 3px 10px;
    border-radius: 30px;
    margin-right: 5px;
}

.pc {
    background-color: #E4663E;
    color: white;
    padding: 3px 10px;
    border-radius: 30px;
    margin-right: 5px;
}

.tab {
    background-color: #548c52;
    color: white;
    padding: 3px 10px;
    border-radius: 30px;
    margin-right: 5px;
}

.mobile {
    background-color: #5768bb;
    color: white;
    padding: 3px 10px;
    border-radius: 30px;
    margin-right: 5px;
}

.tag {
    font-weight: 500;
    margin-bottom: 20px;
}

.text {
    line-height: 2;
    margin-bottom: 30px;
}

.content_link {
    width: 400px;
    display: flex;
    justify-content: space-between;
    float: right;
}

.content_link a {
    position: relative;
    display: inline-block;
    padding: 5px;
}

.content_link a::before {
    position: absolute;
    content: '';
    top: 14px;
    left: -37px;
    width: 20px;
    height: 1px;
    background-color: #575757;
    z-index: 1;
}

.content_link a:hover {
    color: #D98F21;
}

.content_link a:after {
    position: absolute;
    content: '';
    top: 4px;
    left: -25px;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background-color: #F0EADE;
    transition: all 0.3s;
    opacity: 0;
}

.content_link a:hover:after {
    opacity: 1;
}

.project_cont {
    height: 550px;
}


/* section gnb02 - project */

/* section gnb03 - design */
#gnb03 .contents {
    padding-bottom: 50px;
}

#gnb03 .content_text {
    margin-left: 80px;
}

/* section gnb03 - design */


.swiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-wrapper {
    margin: 50px 80px;
    transition: transform 0.8s ease;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* section gnb04- contact */
#gnb04 .contents {
    height: auto;
    padding: 200px 0 50px 0;
    text-align: center;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
}

.card>img {
    width: 45%;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}


#gnb04 .text {
    margin-top: 50px;
    font-size: 20px;
    line-height: 1.4;
}

#gnb04 .footer .text {
    font-size: 14px;
}

/* section gnb04- contact */